<div style="width:700px">
<div class="card" style="width:600px">

  <character-info 
      character="$ctrl.currentChar"
      code="$ctrl.characters[$ctrl.currentChar].code"
  ></character-info>


<div style="padding-left:20px;display:inline-block;width:65%;">
  <br />
  <p>Choose a phrase to remember:</p>
  <phrase-choice 
      ng-repeat="phrase in $ctrl.characters[$ctrl.currentChar].phrases"
      phrase="phrase"
      on-click="$ctrl.updatePhrase"
  ></phrase-choice>

  <custom-phrase-choice
      on-keypress="$ctrl.updatePhrase"
      selected-phrase="$ctrl.selectedPhrase"
  ></custom-phrase-choice>

</div>

</div>
  <br />
  <next-phrase-button
    next="$ctrl.characters[$ctrl.currentChar].next"
    next-click="$ctrl.saveAndNext"
  ></next-phrase-button>


</div>

